# Python

__pycache__/
*.pyc
venv/

# Environment

.env

# Uploads

backend/uploads/

# ChromaDB

backend/chroma_db/

# React

frontend/node_modules/

# Vite

frontend/dist/

# VS Code

.vscode/

# OS

.DS_Store
Thumbs.db